<section class="row mx-0">
  <div class="text-wrap red-bg col-12 col-lg-6 order-lg-1 position-relative">
    <h3 class="title white-text text-uppercase">Our services</h3>
    <h5 class="subtitle white-text text-uppercase">We guarantee high standard service</h5>
    <p class="content white-text text-uppercase">We offer a large range of personalised services that go beyond your expectations.
      Our forte is in luxury car rental services, but we offer much more, including rentals with chauffeurs,
      yacht charters, helicopter and jet rentals, wedding rentals, luxury airport pickups, motorbike tours. We understand that your event has to be special,
      that your business trip is absolutely crucial, and that’s why our services are centred around you, not the other way around.
    </p>
  </div>
  <div class="image-wrap col-12 col-lg-6">
    <img class="h-100 w-100" src="../../../assets/images/service/service-1.jpg" alt="Car"/>
  </div>
</section>

<section class="row mx-0">
  <div class="text-wrap col-12 col-lg-6 position-relative">
    <h3 class="title text-uppercase">Luxury services</h3>

    <ul class="item-list">
      <li class="item">
        <fa-icon [icon]="iconArrowRight"></fa-icon>Car with chauffeur
      </li>
      <li class="item">
        <fa-icon [icon]="iconArrowRight"></fa-icon>Private flights
      </li>
      <li class="item">
        <fa-icon [icon]="iconArrowRight"></fa-icon>Motorbike rental and tours
      </li>
      <li class="item">
        <fa-icon [icon]="iconArrowRight"></fa-icon>Exclusive parties and weddings
      </li>
      <li class="item">
        <fa-icon [icon]="iconArrowRight"></fa-icon>Yacht charters
      </li>
      <li class="item">
        <fa-icon [icon]="iconArrowRight"></fa-icon>Classic cars rental and tours
      </li>
      <li class="item">
        <fa-icon [icon]="iconArrowRight"></fa-icon>Best rates for airport transfer service
      </li>
    </ul>
  </div>
  <div class="image-wrap col-12 col-lg-6">
    <img class="h-100 w-100" src="../../../assets/images/service/service-2.jpg" alt="Car"/>
  </div>
</section>

<section class="row mx-0">
  <div class="text-wrap red-bg col-12 col-lg-6 order-lg-1 position-relative">
    <h3 class="title white-text text-uppercase">Customer Service</h3>
    <h5 class="subtitle white-text text-uppercase">Our experts work day and night to solve all your problems</h5>
    <p class="content white-text text-uppercase">Everything we do is fully supported by our 24 hour call centre team who are here to answer questions and resolve
      any customer issues. We also provide a number of customer initiatives that further drive your customers conversion. These include no hidden charges,
      a deposit payment option, and a quote chase facility.
    </p>
  </div>
  <div class="image-wrap col-12 col-lg-6">
    <img class="h-100 w-100" src="../../../assets/images/service/service-3.jpg" alt="Car"/>
  </div>
</section>

<section class="row mx-0">
  <div class="text-wrap red-bg col-12 col-lg-6 position-relative">
    <h3 class="title white-text text-uppercase">Pricing</h3>
    <h5 class="subtitle white-text text-uppercase">Our prices are the lowest on the market</h5>
    <p class="content white-text text-uppercase">We deliver highly competitive market pricing levels across our full range of destinations, durations
      and vehicles types. And by offering pricing parity to our affiliate partners with simultaneous pricing updates, we maximize your conversion rates.
    </p>
  </div>
  <div class="image-wrap col-12 col-lg-6">
    <img class="h-100 w-100" src="../../../assets/images/service/service-4.jpg" alt="Car"/>
  </div>
</section>

<section class="row mx-0">
  <div class="text-wrap col-12 col-lg-6 position-relative order-lg-1">
    <h3 class="title text-uppercase">For clients</h3>
    <h5 class="subtitle text-uppercase">Your advantages when choosing our services</h5>

    <ul class="item-list">
      <li class="item">
        <fa-icon [icon]="iconArrowRight"></fa-icon>When paying by credit card, the banking fee is not charged
      </li>
      <li class="item">
        <fa-icon [icon]="iconArrowRight"></fa-icon>Minimal car rent order is for 1 hour ( VIP taxi service)
      </li>
      <li class="item">
        <fa-icon [icon]="iconArrowRight"></fa-icon>Free of charge booking a car with an English-speaking driver
      </li>
      <li class="item">
        <fa-icon [icon]="iconArrowRight"></fa-icon>Rates are fixed regardless of time of a day and a day of the week
      </li>
      <li class="item">
        <fa-icon [icon]="iconArrowRight"></fa-icon>Flexible discounts
      </li>
    </ul>
  </div>
  <div class="image-wrap col-12 col-lg-6">
    <img class="h-100 w-100" src="../../../assets/images/service/service-5.jpg" alt="Car"/>
  </div>
</section>
