<header>
  <nav class="row main mx-0 w-100">
    <div class="col-8 col-lg-5 col-xl-7">
      <a class="brand" routerLink="/home">Car Rental</a>
    </div>

    <div appDropdownToggle class="col-4 text-right d-lg-none">
      <button class="navbar-toggler" type="button">
        <fa-icon [icon]="iconBars"></fa-icon>
      </button>
    </div>

    <div class="collapse navbar-collapse col-12 col-lg-7 col-xl-5">
      <ul class="items">
        <li class="item"><a class="text-uppercase" routerLink="/home" routerLinkActive="active">Home</a></li>
        <li class="item"><a class="text-uppercase" [routerLink]="['/about']" routerLinkActive="active">About</a></li>
        <li class="item"><a class="text-uppercase">Services</a></li>
        <li class="item cars-wrap position-relative" appDropdownToggle>
          <a class="text-uppercase">Cars</a>

          <div class="dropdown-menu animated">
            <a class="dropdown-item">Convertibles</a>
            <a class="dropdown-item">Suvs</a>
            <a class="dropdown-item">Exotic</a>
            <hr>
            <a class="dropdown-item">Mercedes</a>
            <a class="dropdown-item">Lexus</a>
            <a class="dropdown-item">BMW</a>
          </div>
        </li>
        <li class="item"><a class="text-uppercase" [routerLink]="['/contact']" [routerLinkActive]="['active']">Contacts</a></li>
      </ul>
    </div>
  </nav>
</header>
