<div class="row">
  <div class="col-12 col-lg-4 mt-3 mb-5" *ngFor="let car of cars">
    <div class="card">
      <img
        class="card-img-top"
        [src]="car.image"
        [alt]="car.name"
      />

      <div class="card-body mt-2">
        <h5 class="card-title text-center">{{car.id}}. {{car.name}}</h5>
        <p class="card-text">Model: {{car.model}}</p>
        <p class="card-text">Price: <strong>{{car.price | currency:'EUR'}}</strong> / day</p>

        <p class="card-text">
          <span *ngIf="car.available; else notAvailable" [ngClass]="'car.available' ? 'available' : ''">
            In stock
          </span>
          <ng-template #notAvailable><span [ngClass]="'!car.available' ? 'unavailable' : ''">Out of Stock</span></ng-template>
        </p>

        <hr/>
        <p class="card-text">{{car.description}}</p>
        <hr/>

        <div class="text-center mt-2">
          <a class="btn btn-primary w-100 details-btn text-uppercase" (click)="onShowDetails(car.id)">Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
