body {
  background-color: $grey;
  color: $black;
  font-size: $base;
  font-family: $Raleway;
  margin: 0;
  padding: 0;
}

h1 {
  color: $black;
  font-size: $x-large;

  @include media-breakpoint-up(lg) {
    font-size: $xx-large;
  }
}

h2 {
  color: $black;
  font-size: $large;

  @include media-breakpoint-up(lg) {
    font-size: $x-large;
  }
}

h3 {
  color: $black;
  font-size: $large;

  @include media-breakpoint-up(lg) {
    font-size: $x-large;
  }
}

h3 {
  color: $black;
  font-size: $base;

  @include media-breakpoint-up(lg) {
    font-size: $x-large;
  }
}

h4 {
  color: $black;
  font-size: $base;

  @include media-breakpoint-up(lg) {
    font-size: $large;
  }
}

a {
  cursor: pointer;
  color: $black;
  font-size: $small;
  text-decoration: none;

  @include media-breakpoint-up(sm) {
    font-size: $base;
  }

  &:hover {
    text-decoration: underline;
  }
}

p {
  color: $black;
  font-size: $small;
  margin-top: 6px;

  @include media-breakpoint-up(sm) {
    font-size: $base;
  }
}

.r-button {
  background-color: $green;
  border: 1px solid $green;
  border-radius: 20px;
  color: $white;
  font-family: $Montserrat;
  font-size: $base;
  letter-spacing: 1px;
  padding: 10px 30px;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: $red;
    border: 1px solid $red;
    cursor: not-allowed;
  }
}
