<section>
  <carousel>
    <slide class="slide-wrap">
      <img src="../../../assets/images/main/main-carousel-1.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="text">
        <h2 class="title">Rent<br/>exclusive<br/>car</h2>
        <h4 class="subtitle text-uppercase">For your special occasion!</h4>
      </div>
    </slide>
    <slide class="slide-wrap">
      <img src="../../../assets/images/main/main-carousel-2.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="text">
        <h2 class="title">Stop<br/>dreaming...</h2>
        <h4 class="subtitle text-uppercase">Drive in style!</h4>
      </div>
    </slide>
    <slide class="slide-wrap">
      <img src="../../../assets/images/main/main-carousel-3.jpg" alt="third slide" style="display: block; width: 100%;">

      <div class="text">
        <h2 class="title">A wide<br/>choice of</h2>
        <h4 class="subtitle text-uppercase">Luxury & exotic vehicles!</h4>
      </div>
    </slide>
  </carousel>
</section>

<section class="section-1 row mx-0">
  <div class="col-12 col-lg-6 text-wrap">
    <h2 class="title text-uppercase">Welcome</h2>
    <h4 class="subtitle text-uppercase">Rent the car of your dreams</h4>
    <p class="content">
      We specialize in exotic and luxury car rental.
      Whether you are looking for a Mercedes, a luxury SUVs, Jaguar convertible, Range Rover, BMW, Porsche, Cadillac, Bentley, Corvette,
      Hummer, Viper, or a conversion van, 15 passenger vans, a new hybrid or sport convertible car to rent,
      you have come to the right place. We carry only the newest models of exotic cars available and keep our rental cars in new condition
      all with very low mileage.
    </p>
  </div>

  <div class="col-12 col-lg-6 px-0">
    <img src="../../../assets/images/main/main-1.jpg" alt="" class="img w-100">
  </div>
</section>

<section class="section-2 row mx-0">
  <div class="col-12 col-lg-6 order-lg-1 text-wrap">
    <h2 class="title">Our Mission</h2>
    <h4 class="subtitle text-uppercase">Reliability and trust are our prime principles.</h4>
    <p class="content">
      Our mission is to provide the best luxury car rentals and services solutions.
      We combine our own knowledge and experience with a large array of custom made luxury cars.
      We aim to deliver a matchless service that meets and exceeds the customer’s expectations, and we are not satisfied unless the customer is satisfied.
      We offer to all our clients a free delivery/pick-up service, meaning that we will meet you and bring the car to your home or hotel,
      or any other scheduled place of your choice.
    </p>
  </div>

  <div class="col-12 col-lg-6 px-0">
    <img src="../../../assets/images/main/main-2.jpg" alt="" class="img w-100">
  </div>
</section>
