@import '../../../styles.scss';

::ng-deep.carousel {
  &:focus {
    outline: none;
  }

  .slide-wrap {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 50%;
      right: 0;
      background: linear-gradient(to bottom, rgba(28, 29, 33, 0) 0%, #1c1d21 100%);
      content: "";
      height: 100%;
      width: 100%;
    }
  }

  .text {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
  }

  .title {
    color: $white;
    font-family: $Montserrat-Subrayada-Bold;

    @include media-breakpoint-up(xl) {
      font-size: 84px;
    }
  }

  .subtitle {
    color: $red;
    font-family: $Montserrat-Semibold;
    letter-spacing: 1px;

    @include media-breakpoint-up(xl) {
      font-size: 34px;
      letter-spacing: 2px;
      margin-top: 50px;
    }
  }
}

.section-1 {
  background-color: $red;

  .text-wrap {
    @include media-breakpoint-up(xl) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 150px;
    }
  }

  .title {
    color: $white;
    font-family: $Montserrat-Subrayada-Bold;
    font-size: 30px;
    margin: 30px 0 24px;
    text-align: center;

    @include media-breakpoint-up(lg) {
      font-size: 54px;
      text-align: left;
    }

    @include media-breakpoint-up(xl) {
      font-size: 84px;
    }
  }

  .subtitle {
    color: $white;
    font-family: $Montserrat-Semibold;
    font-size: 18px;
    margin-bottom: 24px;
    text-align: center;

    @include media-breakpoint-up(lg) {
      font-size: 24px;
      text-align: left;
    }
  }

  .content {
    color: $white;
    font-family: $Montserrat;
    letter-spacing: 1px;
    line-height: 1.9;
    text-align: center;

    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }

  .img {
    height: 100%;
  }
}

.section-2 {
  .text-wrap {
    @include media-breakpoint-up(xl) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 150px;
    }
  }

  .title {
    color: $light-black;
    font-family: $Montserrat-Subrayada-Bold;
    font-size: 30px;
    margin: 30px 0 24px;
    text-align: center;

    @include media-breakpoint-up(lg) {
      font-size: 54px;
      text-align: left;
    }

    @include media-breakpoint-up(xl) {
      font-size: 84px;
    }
  }

  .subtitle {
    color: $red;
    font-family: $Montserrat-Semibold;
    font-size: 18px;
    margin-bottom: 24px;
    text-align: center;

    @include media-breakpoint-up(lg) {
      font-size: 24px;
      text-align: left;
    }
  }

  .content {
    color: $light-black;
    font-family: $Montserrat;
    letter-spacing: 1px;
    line-height: 1.9;
    text-align: center;

    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }

  img {
    height: 100%;
  }
}
